@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap")
;*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;

}
img{
    max-width: 100%;
    display: block;
}
h1,
h2,h3,
p{
    margin: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
    max-width: 65em;
    align-items: center;
    .logo{
        color: #020202;
        text-shadow: 0px 0px 8px #fff;
    }
   
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
   
    justify-content: center;
    
    & > * {
        flex-basis: 30%;
        min-width: 15em;
    }

}
.spacing > *+* {
        margin-top: var(--spacer, 2rem);
}
.btn{
    display: inline-block;
    text-decoration: none;
    margin: 0.5em auto;
    padding: 0.6em 0.4em;
    border-radius: 0.5em;
    background-color: rgba(247, 243, 186, 0.979);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    background-color: var(--clr-accent, blue);
    transition: transform 250ms ease-in-out;
    opacity: 350ms linear;

}
.btn:hover,
.btn:focus{
    transform: scale(1.07);
    opacity: 0.79;
}
.main-text{
    font-size: 4rem;
    font-size: clamp(4rem,calc( 5vw + 1rem), 4.5rem);
    line-height: 1.01;
    text-transform: uppercase;
}
.hero{
 text-align: center;
 color: #fff;
 padding: 15em 0;
  background-color: #222;
  --clr-accent: #faa700;
 
  @supports (background-blend-mode: multiply) {
        background: url("https://raw.githubusercontent.com/kevin-powell/shoes/master/img/shoe-3.png"), 
        radial-gradient( #444, #111);
        background-blend-mode: multiply;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
  }
  
     h1{
            color: #fff;
            text-shadow: 2px 2px 4px #020202;
        font-size: 4rem;
            font-size: clamp(2rem,calc( 5vw + 1rem), 4.5rem);
            line-height: 1.1;
            text-transform: uppercase;
    }
    p{
        font-size: 1.19em;
        padding: 0;
    }
    .btn{
        margin-top: 2em;
    }
    
}
.title{
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    color: #17353d;
    margin-bottom:3.5em;
    font-size: clamp(2.8rem, calc(5vw + 1rem),4.5rem);
} 
section{
    padding: 7em 0;
}

.featured{

    background-color: #eee;

    &__items{
        display: block;
        position: relative;
        transform: scale(0.83);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        color: #333;
        text-align: center;
        line-height: 1.2;
        
        span{
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    
    &:hover,
    &:focus{
        transform: scale(1);

        .featured__details{
            opacity: 1;
            transition: opacity 250ms linear;
            text-shadow: 1.6px 1px 1px rgba(rgb(78, 78, 78), 1);
        }
        
    }
    
    &::after{

        content: "";
        position: absolute;
        padding: 75% 75% 0 0;
        top: 0;
        right: 25%;
        z-index: -2;
        border-radius: 50%;
        background-color: #2193b0;
        
 
    }


}
        &__details{
           opacity: 0; 

        }
  

}
  

.products{

    h2{
        font-size: 4rem;
        text-align: center;
        line-height: 1;
        color: #17353d;
        margin-bottom:3.5em;
        font-size: clamp(2.8rem, calc(5vw + 1rem),4.5rem);
    }
    .product{
        background: radial-gradient(var(--clr-inner, rgb(255, 251, 2)), var(--clr-outer, orange));
        padding: 3em;
        border-radius: 3em;
        margin: 3em;
        text-align: center;
     
        &__image{
            margin: -5em 0 0 0;

          
        }

            @media (min-width: 45em){
                text-align: left;
                margin-bottom: 6em;

                &__title{
                    margin: 0;
                }
               
               
                &__image{
                float: right;
                width: 65%;
                // shape-outside: url("https://www.searchpng.com/wp-content/uploads/2019/01/Nike-Shoe-PNG-1024x1024.png?__cf_chl_jschl_tk__=2dad83bb550a701ba4999eece1847494a8a098f6-1618755922-0-AcNeMuuuptLV1Tyu3ey8b7fkN5vGZBz6NwnYvaWnIL7UBlGgdCindtBmf28A3zZB2qxstTGu4iAroA_6kw0ZID5tKyWj-Jkc5HVeQm-DFhhr7-gIWiZ1_2_ODzqfMEIAsNDGwhzLhwD5KSkbj9NeL0MI_Zms-gk79tH6z_nSmkOlwlInGjO27k4hSiQNHhnMOEp00St7JPOLeLBY7vKAaMMj81ik_IpsXaGcQ1IcTofoIt6V7qZWF7eVi9VRGu2eO5kYoIJkWFUuRZSAM13W_jaUGXn-EVnulXkZCZCEsh6umvspOxbqrByK468Dlmqz56Y1ho2XWmcmmrBs8TuplKc15dtPHO4a435i7py9qMX68Wlahm63BkX_gBid0i2Kdi0hqRfCliqJ2W5Y-OROUzyiiiEY8X728JKOmPfaeQND_tvNjmZR_5GJVoY_N4bEMg");
                shape-margin: 1em;
                margin: 0 -5em 0 0;

                }
            }
        

    &__title{
        font-size: 4rem;
        font-size: clamp(3em, calc( 5vw + 1em), 4em);
        color: #fff;
        text-shadow: 0 0 0.2em rgba(#000, 2);
        line-height: 1.08;


    }
  
            }

        .shoe-1{
            --clr-inner: #faa700;
            --clr-outer: #ffa109 ;
            --clr-accent: #a1173c;
           
               }
        .shoe-2{
            --clr-inner: #fce4b3 ;
            --clr-outer:  #eac886;
            --clr-accent: #2f4858 ;
               }
        .shoe-3{
            --clr-inner: #6dd5ed;
            --clr-outer: #2193b0;
            --clr-accent: #008951 ;
               }

       

  .btn{
      margin-top: 1em;
  }

}

.footer{
    text-align: center;
    h3{
        font-size: 1.3em;
      
    }
    h4{
        color: #03206d;
        margin-bottom: 1em;
    }
}






